footer{
    width: 100%;
    padding:30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
  display: flex;
    flex:1;
    justify-content: center;
}
.f_container{
 display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
}
.f_container ul li{
  text-align: center;
    list-style: none;
    margin: 10px 0;
}
.f_container ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color:grey;
}
.f_container ul li a:hover{
    transition: 1s all ease-in;
    color: #111;
}
.f_container p{
  font-weight: 800;
  
}
.newsletter{
    flex:2;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newsletter h2{
    letter-spacing: 1.3px;
    color: #423b3b;
}
.input_box input{
    outline:none;
    border:1.5px solid rgb(17, 74, 6);
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #3f3636;
    margin: 20px 15px 5px 15px;
    border-radius: 2px;
}
.input_box input:hover{
    border: 2px solid rgb(255, 1, 1);
    box-shadow: rgba(201, 22, 22, 0.24) 0px 10px 8px;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.error{
  color:red;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
}
.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@media screen and (max-width:830px){
  .input_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.button-85{
  width: 125px;
  margin-top: 15px;
}
    .newsletter h2{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:680px){
    footer{
        flex-direction: column;
    }
    .container{
        margin: 50px 0;
    }
    .f_container{
      margin: 50px 0;
    }
}